.playlist
    .error
        display none
    ul
        padding-right 40px
        @media (max-width: 490px)
            padding 0px

    &_item
        cursor pointer
        list-style none
        &.played
        &:hover
            background rgba(94, 90, 255, 0.5)

    .loader
        background #fff
        background -moz-linear-gradient(left, brand-success 10%, rgba(255, 255, 255, 0) 42%)
        background -webkit-linear-gradient(left, brand-success 10%, rgba(255, 255, 255, 0) 42%)
        background -o-linear-gradient(left, brand-success 10%, rgba(255, 255, 255, 0) 42%)
        background -ms-linear-gradient(left, brand-success 10%, rgba(255, 255, 255, 0) 42%)
        background linear-gradient(to right, brand-success 10%, rgba(255, 255, 255, 0) 42%)
        &:before
            background: rgba(0,0,0,0);
        &:after
            background #fff