.audiojs
    height 30px
    width 100%
    background player-background
    border none
    box-shadow none

    .play-pause
        display none

    .scrubber
        margin 0 10% 0 10%
        border none
        background player-background
        width 80%

        .progress
        .loaded
            height 30px
            width 100%

        .loaded
        .progress
            left 0
            top 50%
            height 10px
            margin-top -5px

        .progress
            background progress-background
            &:after
                width 5px
                height 10px
                border solid darken(brand-success, 50%) 1px
                background brand-success
                content ""
                float right

        .loaded
            background loaded-background


    .time
        position relative
        left 50%
        top 43%
        margin-left -54px
        border none

.player
    &_time
        &-played
            float left
        &-duration
            float right

    &_controls
        height 50px
        margin-bottom 10px
        @media (max-width: 490px)
            height 90px
            margin-bottom 10px
        &-center
            width 100%
            position absolute
            left 50%
            margin-left -100px
            //display flex
            //justify-content center

        &-wrapper
            position relative
            @media (max-width: 490px)
                top 50px

        &-left
            float left
        &-right
            float right

        &-prev
        &-pause
        &-next
        &-mute
            &:hover
                background: brand-success
                background: -webkit-radial-gradient(rgba(0,0,0,0), brand-success)
                background: -o-radial-gradient(rgba(0,0,0,0), brand-success)
                background: -moz-radial-gradient(rgba(0,0,0,0), brand-success)
                background: radial-gradient(rgba(0,0,0,0), brand-success)

        &-shuffle
        &-repeat
            display inline-block

            &.active
            &:hover
                background: brand-success
                background: -webkit-radial-gradient(brand-success, rgba(0,0,0,0))
                background: -o-radial-gradient(brand-success, rgba(0,0,0,0))
                background: -moz-radial-gradient(brand-success, rgba(0,0,0,0))
                background: radial-gradient(brand-success, rgba(0,0,0,0))

        &-prev
        &-pause
        &-next
            font-size 24px
            cursor pointer
            padding-top 8px
            text-align center
            width 50px
            height 50px
            border solid darken(brand-success,50%) 1px
            border-radius 50%
            margin 0px 10px
            float left

        &-mute
            cursor pointer
            padding-top 4px
            text-align center
            width 30px
            height 30px
            border solid darken(brand-success,50%) 1px
            border-radius 50%
            margin 10px 10px

        &-shuffle
        &-repeat
            cursor pointer
            padding-top 5px
            text-align center
            width 30px
            height 30px
            border none
            border-radius 50%
            margin 10px 10px


    .loader
        background #fff
        background -moz-linear-gradient(left, brand-success 10%, rgba(255, 255, 255, 0) 42%)
        background -webkit-linear-gradient(left, brand-success 10%, rgba(255, 255, 255, 0) 42%)
        background -o-linear-gradient(left, brand-success 10%, rgba(255, 255, 255, 0) 42%)
        background -ms-linear-gradient(left, brand-success 10%, rgba(255, 255, 255, 0) 42%)
        background linear-gradient(to right, brand-success 10%, rgba(255, 255, 255, 0) 42%)
        &:before
            background: rgba(0,0,0,0);
        &:after
            background #fff