.js-upload-track
    .loader
        display none
        margin 0px auto
        width 1.5em
        height 1.5em
        &:after
            background #7873FF
    &.loading
        .loader
            display inline-block

.dropzone
    .dz-preview
        .dz-error-message
            top 150px