@import './variables.styl'
@import './components/upload.styl'
@import './components/loader.styl'
@import './components/player.styl'
@import './components/playlist.styl'


h3
  margin-top 5px

[v-cloak] {
  display none
}